/* =========================================
   TABLE STYLING
========================================= */
.table-custom {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: var(--table-radius);
    overflow: hidden;
    font-size: var(--table-font-size);
    font-weight: var(--table-font-weight);
    color: var(--table-font-color);
}

    .table-custom thead th {
        color: var(--table-header-font-color);
    }

    .table-custom th {
        text-align: left;
        padding: 10px;
        background-color: var(--btn-primary-color); /* var(--table-header-bg);*/
        cursor: pointer;
        user-select: none;
        position: relative;
        /*color: var( --table-header-font-color)*/
    }

    .table-custom thead::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 4px;
        background: linear-gradient( to bottom, rgba(0, 51, 102, 0.4), transparent );
    }

    .table-custom td {
        padding: 10px;
        border-top: 1px solid #dee2e6;
    }

    .table-custom tr:hover {
        background-color: #f1f3f5;
    }

    /* Sort indicator */
    .table-custom th.sort-asc::after {
        content: " ▲";
    }

    .table-custom th.sort-desc::after {
        content: " ▼";
    }

.table-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Search bar */
.table-search {
    margin-bottom: 10px;
    width: 250px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Pagination */
.table-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 15px;
    border-radius: 12px;
    border: 0px solid #78C7C7;
    background-color: #EBF4FA;
    padding: 6px 10px 6px 10px;
}

.action-cell {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
}

.table-icon-size {
    width: 16px;
    height: 16px;
}

.paging-font {
    font-size: 0.9rem;
    font-weight: bold;
}

.table-container {
    overflow-x: auto;
    width: 100%;
}

.table-custom {
    white-space: nowrap;
    min-width: 800px;
}


.clickable-row {
    cursor: pointer;
}

    .clickable-row:hover {
        background: #f4f6f8;
    }

.status-badge {
    padding: 4px 10px;
    border-radius: 12px;
    font-size: .85rem;
    font-weight: 600;
    display: inline-block;
}

.badge-approved {
    background: #dff5e3;
    color: green;
}

.badge-pending {
    background: #fff4d6;
    color: orange;
}

.badge-rejected {
    background: #fde2e2;
    color: red;
}

.text-end {
    text-align: right;
}